.content-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.news-card {
  display: flex;
  border: 0px solid aqua;
  margin: 4vw 0;
  position: relative;
  height: 92vw;
  width: 92vw;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: -4px 4px 0px 0px var(--shadow-color);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transition: .4s;
}

.news-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
  transition: .4s;
}

.news-card__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.news-card__image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: transform .5s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  z-index: -1;
}

.news-card__text-wrapper {
  position: absolute;
  bottom: 0rem;
  padding: 1rem;
  color: white;
  transition: background-color .5s ease;
}

.news-card__title {
  transition: color 1s ease;
  margin-bottom: .5rem;
}

.news-card__post-date {
  font-size: .7rem;
  margin-bottom: .5rem;
  color: #CCC;
}

.news-card__details-wrapper {
  max-height: 0;
  opacity: 0;
  transition: max-height .5s ease, opacity .4s ease;
}

@media (min-width: 530px) {
  .news-card {
    height: calc(48vw - var(--padding-section));
    width: calc(48vw - var(--padding-section));
    margin: 2vw 0;
  }
}

@media (min-width: 902px) {

  .news-card {
    height: calc(33.8vw - var(--padding-section));
    width: calc(33.8vw - var(--padding-section));
    margin: 1.7vw 0;
    max-width: 500px;
    max-height: 500px;
  }

  .news-card:hover {
    box-shadow: 0 0 0 0 var(--shadow-color);
  }

  .news-card img {
    transition: .4s;
  }

  .news-card:hover img {
    filter: blur(2px);
  }

  .news-card:hover .news-card__details-wrapper {
    max-height: 20rem;
    opacity: 1;
    transition: 1s;
  }

  .news-card:hover .news-card__title {
    color: var(--main-green);
    filter: blur(0);
  }

  .news-card:hover::before {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.news-card__excerpt {
  font-weight: 300;
}

.news-card__read-more {
  background: black;
  color: #bbb;
  display: block;
  padding: 0.4rem 0.6rem;
  border-radius: 0.3rem;
  margin-top: 1rem;
  border: 1px solid var(--main-green);
  font-size: 0.8rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-decoration: none;
  width: max-content;
  margin-left: auto;
  position: relative;
  z-index: 5;
}

.news-card__read-more i {
  position: relative;
  left: 0.2rem;
  color: #888;
  transition: left 0.5s ease, color 0.6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.news-card__read-more:hover i {
  left: 0.5rem;
  color: var(--main-green);
}