.wrap-home,
.video-prime__movie {
  width: auto;
  max-width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

/* blog carousel start */
.blog-carousel {
  position: relative;
  height: 100%;
  margin: 50px 20px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  border: 1px solid var(--main-color);
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}

.swiper-slide a {
  text-decoration: none;
  color: var(--main-color);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .3s;
}

.swiper-slide img:hover {
  transform: scale(1.1);
}

.slide-text {
  position: relative;
  z-index: 2;
  padding: 20px;
  font-family: 'como', sans-serif;
}

/* blog carousel end */