.post-header {
  position: relative;
}

.post-header__wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: -16vmin;
  position: relative;
}

.post-header__img {
  width: 80%;
  margin-left: 6px;
  box-shadow: -5px 5px 0 0 var(--shadow-color);
  transform: translateX(0);
  animation: img-slip .8s ease;
}

.post-header__title {
  font-size: clamp(16px, 8vmin, 7vw);
  letter-spacing: var(--btn-lett-space);
  position: relative;
  top: -14vmin;
  padding: 10px;
  max-width: 65%;
  min-width: 260px;
  margin-right: 0;
  margin-left: auto;
  text-align: right;
  text-transform: uppercase;
  color: var(--main-color);
  /* box-shadow: 2px 2px 0 0 var(--shadow-color); */
  text-shadow: 0 0 10px white;
  animation: title-slip 1s ease;
}

.post-content {
  overflow: hidden;
  padding: 0 var(--padding-section) 20px var(--padding-section);
}

.post-content__text {
  margin: 40px 5px 0;
  padding: 5px 15px;
  background-color: var(--main-green);
  box-shadow: -5px 5px 0 0 var(--shadow-color);
  animation: img-slip 1s ease;
}

.post-content__text p {
  font-size: calc(var(--main-font-size) + 1vmin);
  font-weight: 400;
  letter-spacing: var(--normal-lett-space);
  line-height: 1.25;
  margin: 3vmin 0;
  padding: 1vmin 0;
  display: inline-block;
}

@keyframes title-slip {
  0% {
    opacity: 0;
    top: -40vmax;
  }

  35% {
    opacity: 0;
    top: -40vmax;
  }
}

@keyframes img-slip {
  0% {
    opacity: 0;
    transform: translateX(50%);
    box-shadow: -5vmax 5vmax 0 0 var(--shadow-color);
  }

  5% {
    opacity: 0;
  }

  5% {
    box-shadow: -5vmax 5vmax 0 0 var(--shadow-color);
  }
}



@media (min-width: 530px) {
  .post-header__wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: -12vmin;
  }

  .post-header__img {
    width: 60%;
  }

  .post-content__text {
    margin: 10px 5px 0;
    padding: 15px 25px;
  }

  .post-header__title {
    font-size: clamp(16px, 10vmin, 6vw);
    top: -18.5vmin;
  }
}


@media (min-width: 768px) {
  .post-content__text {
    margin: 40px 5px 0;
    padding: 30px 35px;
  }

  .post-header__title {
    font-size: clamp(16px, 6vmin, 6vw);
    top: -11vmin;
  }

  .post-content__text p {
    margin: 1vmin 0;
    padding: 0.5vmin;
  }
}


@media (min-width: 1024px) {
  .post-header__img {
    width: 50%;
  }

  .post-content__text {
    margin: 40px 5px 0;
    padding: 40px 55px;
  }

  .post-header__title {
    font-size: clamp(16px, 12vmin, 6vw);
    top: -16vmin;
  }
}

@media (min-width: 1920px) {
  .post-header__title {
    font-size: clamp(16px, 11vmin, 108px);
    top: -190px;
  }


  .post-content__text {
    padding: 60px 85px;
  }
}