.prices-treatments {
  max-width: 1400px;
  margin: 0 auto;
}

.price-descript__img {
  width: calc(100% + calc(var(--padding-section) * 2));
  margin: calc(30px + 1vmin) 0 0 calc((var(--padding-section) * -1));
}

.h2-title__important {
  text-align: center;
  padding: calc(10px + 1vmin);
  border-radius: 2px;
  font-size: calc(var(--main-font-size) + 1vmin);
  background-color: var(--earthling-grass);
  color: white;
  line-height: 1.4;
}

.p-normal--important-green {
  color: var(--earthling-mint);
}

.h2-title__big {
  border-bottom: 1px solid black;
  color: var(--main-color);
}

.prices-treatments__list {
  list-style: none;
}

.prices-treatments__list-item {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid rgba(172, 180, 147, 0.1);
}

.p-normal__treatment {
  display: flex;
  flex-direction: column;
  width: 79%;
  margin-left: 10px;
  padding: 1vmin 0 0;
}

.p-normal__span {
  font-weight: bold;
}

.p-normal__span--small {
  font-weight: normal;
  font-size: calc(var(--main-font-size) + 0.1vmin);
}

.p-normal__price {
  font-weight: bold;
  text-align: right;
  width: 18%;
}

.prices-treatments__list-item--more-treatments {
  display: flex;
  flex-direction: column;
  border: none;
}

.p-normal__treatment--out {
  width: 100%;
  font-weight: bold;
  font-weight: bold;
  text-align: left;
  margin: 2vmin auto 0 5px;
  flex-direction: row;
}

.p-normal__treatment--out>span {
  font-weight: normal;
}

.prices-treatments__wrap-span-big-prices {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  border-bottom: 1px solid rgba(172, 180, 147, 0.1);
}


@media(min-width: 768px) {
  .price-descript .p-normal {
    margin: 0 0 3vmin;
  }

  .p-normal__span--small {
    font-weight: normal;
    font-size: calc(var(--main-font-size) + 0.5vmin);
  }

  .p-normal__treatment--out {
    margin: 1vmin auto 0 10px;
  }
}

@media(min-width: 1400px) {}