* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: como, sans-serif;

  &:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
    outline-style: none;
    outline-color: transparent;
  }
}

body {
  width: 100%;
  min-height: 100vh;
  max-width: 1920px;
  padding: 0;
  margin: 0 auto;

  &.mob-nav-anim.active {
    max-height: 100vh;
  }

  input,
  textarea,
  button,
  select,
  a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  img {
    max-width: 100%;
  }

  a {
    display: inline-block;
  }
}

.wrapper-content {
  margin: 80px auto;

  @include mq('md') {
    margin: 80px auto 100px;
  }

  @include mq('lg') {
    margin: 77px auto 100px;
  }

  section {
    padding: 0 var(--padding-section);
  }
}

.btn-visit {
  background: var(--main-color);
  color: #fff;
  border: none;
  overflow: hidden;
  height: 42px;
  max-width: 150px;
  box-sizing: border-box;
  transition: 0.3s;

  &:hover {
    box-shadow: -4px 4px 0 0 var(--shadow-color);
  }

  &--second {
    background: var(--main-brown);
  }

  & a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px 8px;
    height: 42px;
    color: #fff;
    text-decoration: none;
    line-height: 1.1;
    font-weight: 600;
    font-size: var(--nav-elem-font-size);
    letter-spacing: var(--btn-lett-space);
    transition: 0.3s;
  }
}