.wrap-single-post {
  overflow: hidden;
}

.post-header {
  position: relative;

  &__wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: -20vmin;
    position: relative;

    @include mq(s) {
      display: flex;
      flex-direction: column;
      margin-bottom: -12vmin;
    }
  }

  &__img {
    width: 80%;
    margin-left: 6px;
    transform: translateX(0);
    @include img-text-shadow;

    @include mq(s) {
      width: 60%;
    }

    @include mq(lg) {
      width: 50%;
    }
  }

  &__title {
    font-size: clamp(16px, 7vmin, 4.6vw);
    letter-spacing: var(--btn-lett-space);
    position: relative;
    top: -14vmin;
    padding: 10px;
    max-width: 65%;
    min-width: 260px;
    margin-right: 0;
    margin-left: auto;
    text-align: right;
    text-transform: uppercase;
    color: var(--main-color);
    /* box-shadow: 2px 2px 0 0 var(--shadow-color); */
    text-shadow: 0 0 10px white;
    animation: title-slip 1.4s ease;

    @include mq(s) {
      font-size: clamp(16px, 9vmin, 4.6vw);
      top: -18.5vmin;
    }

    @include mq(md) {
      font-size: clamp(16px, 5vmin, 4.6vw);
      top: -11vmin;
    }

    @include mq(lg) {
      font-size: clamp(16px, 11vmin, 4.6vw);
      top: -16vmin;
    }

    @include mq(hd) {
      font-size: clamp(16px, 10vmin, 82px);
      top: -190px;
    }
  }
}

.post-content {
  overflow: hidden;
  padding: 0 var(--padding-section) 20px var(--padding-section);

  &__text {
    margin: 40px 5px;
    padding: 5px 15px;
    background-color: var(--main-green);
    @include img-text-shadow;

    @include mq(s) {
      margin: 10px 5px;
      padding: 15px 25px;
    }

    @include mq(md) {
      margin: 40px 5px;
      padding: 30px 35px;
    }

    @include mq(lg) {
      margin: 40px 5px;
      padding: 40px 55px;
    }

    @include mq(hd) {
      padding: 60px 85px;
    }

    & p {
      font-size: calc(var(--main-font-size) + 1vmin);
      font-weight: 400;
      letter-spacing: var(--normal-lett-space);
      line-height: 1.25;
      margin: 3vmin 0;
      padding: 1vmin 0;
      display: inline-block;

      @include mq(md) {
        margin: 1vmin 0;
        padding: 0.5vmin;
      }
    }
  }
}