@import "https://use.typekit.net/aee0lxy.css";

.h2-title {
  font-size: calc(var(--main-font-size) + 1vmin);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: var(--normal-lett-space);
  font-weight: bold;
  margin: 7vmin 0 2vmin;

  &__big {
    font-size: calc(var(--main-font-size) + 2vmin);
    padding: calc(10px + 1vmin) 0 calc(5px + 1vmin);
  }

  &__important {
    text-align: center;
    padding: calc(10px + 1vmin);
    font-size: calc(var(--main-font-size) + 1vmin);
    background-color: var(--main-brown);
    box-shadow: -3px 3px 0px 0px var(--shadow-color);
    color: white;
    line-height: 1.4;
  }
}

.h3-title {
  font-size: calc(var(--main-font-size) + 1vmin);
  font-weight: 400;
  letter-spacing: var(--normal-lett-space);
  font-weight: bold;
  margin: 4vmin 0 20px;
}

.p-normal {
  font-size: calc(var(--main-font-size) + 1vmin);
  font-weight: 400;
  letter-spacing: var(--normal-lett-space);
  margin: 3vmin 0;
  padding: 1vmin 0;
  display: inline-block;

  @include mq('md') {
    margin: 1vmin 0;
    padding: 0.5vmin;
  }

  &--small {
    font-size: calc(var(--main-font-size) + .5vmin);
  }

  &__span {
    font-weight: bold;

    &--small {
      font-weight: normal;
      font-size: calc(var(--main-font-size) + 0.1vmin);
    }
  }

  &__price {
    font-weight: bold;
    text-align: right;
    width: 18%;
  }

  &--important-brown {
    color: var(--main-brown);
  }

  a {
    display: inline-block;
    color: var(--main-color);
    text-decoration: none;
    width: max-content;
    font-weight: 600;
    padding: 2px 0;
    transition: .3s;

    &:hover {
      color: var(--main-brown);
      letter-spacing: 1.5px;
    }
  }
}