$breakpoints: (
  xxs: 'min-width: 360px',
  xs: 'min-width: 410px',
  s: 'min-width: 530px',
  sm: 'min-width: 640px',
  md: 'min-width: 768px',
  mdl: 'min-width: 902px',
  lg: 'min-width: 1024px',
  xl: 'min-width: 1240px',
  xxl: 'min-width: 1400px',
  xxxl: 'min-width: 1600px',
  hd: 'min-width: 1920px',
  md-portrait: 'min-width: 768px) and (orientation: portrait',
);

@mixin mq($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);

  @if($size) {
    @media (#{$size}) {
      @content;
    }
  }

  @else {
    @error '"#{$breakpoint}" - Brak zdefiniowanej wielkości';
  }
}

:root {
  --main-color: rgb(17, 17, 17);
  --main-brown: rgb(153, 142, 130);
  --main-green: rgb(229, 223, 217);
  --main-font-size: 12px;
  --nav-elem-font-size: 14px;
  --nav-list-font-size: 16px;
  --shadow-color: rgb(118, 109, 100);
  --btn-lett-space: 1.2px;
  --normal-lett-space: 1px;
  --padding-section: 4vw;

  @include mq('s') {
    --padding-section: 8vw;
  }

  @include mq('md') {
    --main-font-size: 10px;
    --padding-section: 10vw;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
}